<template>
  <div class="tableAsideCompoent" style="height:100%">
    <el-container>
      <div class="ConTableDiv">
        <!-- 表格 -->
        <div class="TableDiv" ref="tablediv">
          <well-plan-table-com
            @onSelectData="onSelectData"
            v-show="ComponenetShow"
            @LoadData="LoadData"
            :CanEditData="EditState"
          ></well-plan-table-com>
          <sum-initial-budget-com
            v-show="!ComponenetShow"
            @onSubmitBudTable="onSubmitBudTable"
            :SumComNumer="SumComNumer"
            :CanEditData="EditState"
          ></sum-initial-budget-com>
        </div>
        <!-- 表格  end -->
        <!-- 步骤条 -->
        <div
          v-show="StepsShow"
          class="StepsDiv"
          style="background-color:#fff;position:relative; overflow:hidden;"
        >
          <p style="margin-top:5px;background-color: rgba(0, 174, 255, 0.63);height:20px;">钻井费用预算流程</p>
          <div>
            <ul class="steps" ref="uls">
              <li v-for="(item,index) in MenuNames" :key="item+index">
                <div class="MenuDiv">
                  <div style="float:left">
                    <img :class="ImgChange(index)" id="MenuImg" @click="StepsClick(index)"  style="cursor: pointer;"/>
                  </div>
                  <div style="float:left">
                    <el-divider v-if="index<5">{{item.dividertext}}</el-divider>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <el-button
            size="mini"
            style="position:absolute;right: 8px;top: 1px;height: 10px;width: 10px;"
            @click="changeState"
            :icon="state?'el-icon-caret-bottom':'el-icon-caret-top'"
          ></el-button>
          <div style="float:right;height:20px;margin-top:100px">
            <ul class="steps">
              <li style="margin-top:20px;">状态说明：</li>
              <li style="margin-left:-50px;" v-for="(item,index) in ImgLegend" :key="index">
                <div style="float:left">
                  <img :class="'ImgLegend'+index" id="ExplainImg" />
                  <div class="LegendText">{{item}}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- 步骤条 end -->
      </div>
      <div class="ConMapDiv">
        <map-com v-show="TableMapShow"></map-com>
        <drilling-platform-com v-show="!TableMapShow" :CanEditData="EditState" :wellId="TestPicSelectDataId" ref="DrillCom"></drilling-platform-com>
      </div>
    </el-container>

    <!-- 工具栏  end -->
  </div>
</template>

<script>
  import axios from "axios";
  import XLSX from "xlsx";
  import MapCom from "../OtherComponents/MapCom";
  import WellPlanTableCom from "../TableComponents/WellPlanTableCom.vue";
  import SumInitialBudgetCom from "../TableComponents/SumInitialBudgetCom.vue";
  import DrillingPlatformCom from "../ItemComponents/DrillingPlatformCom.vue";
  export default {
    name: "ContainCom",
    props: ["MenuName"],
    mounted() {
      this.$refs.tablediv.style.height = "100%";
      this.$refs.tablediv.style.scrollTop = "100%";
      // this.showTabs();
    },
    data() {
      return {
        src:
          "https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg",
        SumNumer: 0,
      };
    },
    components: {
      MapCom,
      WellPlanTableCom,
      SumInitialBudgetCom,
      DrillingPlatformCom,
    },
    watch: {
      StoreValue(newV, oleV) {
        this.$refs.DrillCom.checkboxGroup1 = [];
        this.ComponenetShow = true;
        this.TableMapShow = true;
        $(".ConTableDiv").width("80%");
        $(".ConMapDiv").width("20%");
        if (newV.indexOf("表格") > -1) {
          this.hideTabs();
          that.state = false;
        }
      },
      SetRightDialog(newV, oldV) {
        this.TableMapShow = false;
        if (!newV) {
          this.TableMapShow = true;
        }
      },
    },
    computed: {
      StepsShow: function () {
        return this.$store.state.FootComShowState;
      },
      StoreValue() {
        return this.$store.state.ComponentType;
      },
      SetRightDialog() {

        return this.$store.state.ShowRightDialogData;
      },
    },
    data() {
      return {
        ExcelData: [],
        registSpets: -1,
        WellName: "",
        YearValue: "",
        MenuNames: [
          { dividertext: "提交", name: "首页" },
          { dividertext: "通过", name: "预算与定额" },
          { dividertext: "审批意见", name: "数据管理" },
          { dividertext: "提交", name: "帮助" },
          { dividertext: "通过", name: "22" },
          { dividertext: "", name: "55" },
        ],
        StepsDisabled: false,
        ComponenetShow: true,
        TableMapShow: true,
        SumComNumer: 0,
        EditState: true,
        state: true,
        TestPicSelectDataId: "",
        ImgLegend: ["可编辑", "已完成", "待修改", "未激活", "决策"],
        StepsState: [
          { state: "classimg", registSpets: 0, type: "编制初预算" },
          { state: "classimg", registSpets: 2, type: "初预算批复" },
          { state: "classimg", registSpets: 3, type: "调整预算" },
          { state: "classimg", registSpets: 5, type: "调整预算批复" },
        ],
      };
    },

    methods: {
      //步骤条
      ImgChange(val) {
        if (this.registSpets >= val) {
          if (this.registSpets == val) {
            return "currentimg" + val;
          }
          return "finshedimg" + val;
        }
        return "classimg" + val;
      },
      //获取TestPitWork传递的选择行信息
      onSelectData(val, PrototTypeData) {
        var that = this;
        if (val.length > 0) {
          that.TestPicSelectDataId = val[0].id;
          //从后台获取数据后，该方法可注释
          that.getSelectTestPicData(val[0], PrototTypeData);
          that.$store.state.FootComShowState = true;
          that.showTabs();
          that.state = true;
          return;
        }
        that.hideTabs();
        that.$store.state.FootComShowState = false;
      },
      getSelectTestPicData(val, PrototTypeData) {
        var that = this;
        var data = new Array();
        var StepStateData = that.StepsState;
        var arr;
        var id;
        for (var key in val) {
          arr = new Object();
          if (key != "" && key != "DrillProgress" && key != "remarks") {
            arr["type"] = key;
            arr["value"] = val[key];
            data.push(arr);
          } else if (key == "DrillProgress") {
            StepStateData.forEach(function (item, index) {
              if (val[key] == item.type) {
                that.registSpets = item.registSpets;
                // if(){}
                //   that.EditState = val[0].DrillProgress == "可编辑" ? true : false;
              }
            });
          }
        }//TestPicSelectData
        that.$store.state.wellParamsData = data;
      },

      //获取初预算表提交信息
      onSubmitBudTable(val) {
        var that = this;
        that.ComponenetShow = true;
        that.TableMapShow = true;
        that.EditState = false;
        // var data = {
        //   initialBudget: "已完成",
        //   id: that.TestPicSelectDataId,
        // };
        // axios
        //   .get("http://localhost:8080/UpdateInitialBudget", { params: data })
        //   .then((resp) => {})
        //   .catch((err) => {
        //     console.log("请求失败：" + err.status + "," + err.statusText);
        //   });

        // that.$emit("getLoad");
      },
      //步骤点击事件
      StepsClick(index) {
        var that = this;
        if ((index != 0 && index != 3)||(index>that.registSpets)) {
          return;
        }
        that.EditState = true;
        if (index != that.registSpets) {
          that.EditState = false;
        }

        var data =  {
          id:that.TestPicSelectDataId
        }

        axios
          .get("#", { params: data })
          .then((resp) => {
            if(resp.succuss){
              that.$store.state.wellParamsData = resp.wellParamsData;
              that.$store.state.wellBudgetData = wellBudgetData;
            }
          })
          .catch((err) => {
            that.msg_dialog("请求失败：" + err.status + "," + err.statusText);
          });

        that.ComponenetShow = false;
        that.hideTabs();
        that.state = false;
      },
      changeState() {
        this.state = !this.state;
        console.log(this.state);
        if (this.state) {
          this.showTabs();
        } else {
          this.hideTabs();
        }
      },
      showTabs() {
        this.$refs.uls.parentNode.hidden = false;
        this.$refs.uls.parentNode.parentNode.style.height = "30%";
        this.$refs.tablediv.style.height = "80%";
      },
      hideTabs() {
        this.$refs.uls.parentNode.hidden = true;
        this.$refs.uls.parentNode.parentNode.style.height = "20px";
        this.$refs.tablediv.style.height = "95%";
      },
      LoadData() {
        this.$emit("parentMethod");
      },
      msg_dialog(msg){
        this.$alert(msg,'提示', {
          dangerouslyUseHTMLString: true
        });
      }
    },
  };
</script>

<style scoped>
  .main {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .tableAsideCompoent {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
  }

  .ToolBal {
    display: block;
    background-color: rgba(0, 174, 255, 0.63);
    height: 15%;
    width: 100%;
  }

  .ToolBal button {
    margin: 10px;
  }

  .TableDiv {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
  }

  #MenuImg {
    width: 60px;
    height: 60px;
  }

  #ExplainImg {
    width: 40px;
    height: 40px;
  }

  #MenuDiv {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 150px;
    border: 1px solid #000;
    height: 50px;
    width: 200px;
  }

  .StepsDiv{
    height: 20%;
  }

  .steps {
    margin-top: -15px;
    width: 96%;
    /* height: 100px; */
    position: relative;
    counter-reset: step;
    /*创建步骤数字计数器*/
  }

  /*步骤描述*/
  .steps li {
    list-style-type: none;
    /* font-size: 12px; */
    text-align: center;
    position: relative;
    float: left;
    margin: 0 60px 0 0;
  }


  .stepsstate{
    margin-top: -30px;
    width: 96%;
    /* height: 100px; */
    position: relative;
    counter-reset: step;
    /*创建步骤数字计数器*/
  }

  /*步骤描述*/
  .stepsstate li {
    list-style-type: none;
    /* font-size: 12px; */
    text-align: center;
    position: relative;
    float: left;
    margin: 0 60px 0 0;
  }


  .current {
    color: aqua;
  }

  .classi {
    color: red;
  }

  /*步骤数字*/
  .classimg0 {
    content: url("../../assets/img/Steps_1.png");
  }

  .classimg1 {
    content: url("../../assets/img/Steps_2.png");
  }

  .classimg2 {
    content: url("../../assets/img/Steps_3.png");
  }

  .classimg3 {
    content: url("../../assets/img/Steps_4.png");
  }

  .classimg4 {
    content: url("../../assets/img/Steps_2.png");
  }

  .classimg5 {
    content: url("../../assets/img/Steps_5.png");
  }

  .classimg6 {
    content: url("../../assets/img/Steps_6.png");
  }

  /*步骤数字*/
  .currentimg0 {
    content: url("../../assets/img/Edit_Steps_1.png");
  }

  .currentimg1 {
    content: url("../../assets/img/Edit_Steps_2.png");
  }

  .currentimg2 {
    content: url("../../assets/img/Edit_Steps_3.png");
  }

  .currentimg3 {
    content: url("../../assets/img/Edit_Steps_4.png");
  }

  .currentimg4 {
    content: url("../../assets/img/Edit_Steps_2.png");
  }

  .currentimg5 {
    content: url("../../assets/img/Edit_Steps_5.png");
  }

  .currentimg6 {
    content: url("../../assets/img/Edit_Steps_6.png");
  }
  .finshedimg0 {
    content: url("../../assets/img/Gimg_legend.png");
  }
  .finshedimg1 {
    content: url("../../assets/img/Gimg_legend.png");
  }
  .finshedimg2 {
    content: url("../../assets/img/Gimg_legend.png");
  }
  .finshedimg3 {
    content: url("../../assets/img/Gimg_legend.png");
  }
  .finshedimg4 {
    content: url("../../assets/img/Gimg_legend.png");
  }
  .finshedimg5 {
    content: url("../../assets/img/Gimg_legend.png");
  }
  .finshedimg6 {
    content: url("../../assets/img/Gimg_legend.png");
  }

  .ImgLegend0 {
    content: url("../../assets/img/Bimg_legend.png");
  }
  .ImgLegend1 {
    content: url("../../assets/img/Gimg_legend.png");
  }
  .ImgLegend2 {
    content: url("../../assets/img/img_legend.png");
  }
  .ImgLegend3 {
    content: url("../../assets/img/Himg_legend.png");
  }
  .ImgLegend4 {
    content: url("../../assets/img/HLimg_legend.png");
  }
  /*
  .stateimg {
    content: url("../../assets/img/state.jpg");
  } */

  .el-divider--vertical {
    display: block;
    height: 1px;
    width: 100px;
    margin: 24px 0;
  }

  .el-divider {
    position: absolute;
    height: 2px;
    top: 12%;
    width: 100%;
  }

  .el-divider__text {
    position: absolute;
    background-color: transparent;
    padding: 0;
    color: #000;
  }

  .el-divider__text.is-center {
    left: 50%;
  }
  .LegendText {
    margin-top: -5px;
    font-size: 10px;
  }

  .ConTableDiv {
    width: 0%;
    /* float: left;*/
    height: 100%;
    transition: width 2s;
    -webkit-transition: width 2s; /* Safari */
  }

  .ConMapDiv {
    width: 100%;
    /* float: right;*/
    height: 95%;
    transition: width 2s;
    -webkit-transition: width 2s; /* Safari */
  }
</style>
