<template>
  <div class="footor" style="position:relative;">
    <!-- <div class="FooterDiv">
      <span>待办事项</span>
    </div>-->
    <el-tabs v-model="activeName" type="card" @tab-click="handleClick" class="FooterDiv" ref="tabs">
      <el-tab-pane label="总表" name="first">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in TableMenuArr" :key="index" style="height:100%;">
              <a href="#" @click="SetStoreValue(item.dataname,index)" @contextmenu.prevent="rightClick(this)">
                <div>
                  <i :class="item.dataicon"></i>
                  <span style="color:black">{{item.dataname}}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>
      <el-tab-pane label="探井计划表" name="second">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in TableMenuArr" :key="index" style="height:100%;">
              <a href="#" @click="SetStoreValue(item.dataname,index)" @contextmenu.prevent="rightClick(this)">
                <div>
                  <i :class="item.dataicon"></i>
                  <span style="color:black">{{item.dataname}}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>
      <el-tab-pane label="预算表" name="third">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in TableMenuArr" :key="index" style="height:100%;">
              <a href="#" @click="SetStoreValue(item.dataname,index)" @contextmenu.prevent="rightClick(this)">
                <div>
                  <i :class="item.dataicon"></i>
                  <span style="color:black">{{item.dataname}}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>
      <el-tab-pane label="调整预算表" name="fourth">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in TableMenuArr" :key="index" style="height:100%;">
              <a href="#" @click="SetStoreValue(item.dataname,index)" @contextmenu.prevent="rightClick(this)">
                <div>
                  <i :class="item.dataicon"></i>
                  <span style="color:black">{{item.dataname}}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>
      <!--    <el-tab-pane label="决算" name="five">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in MenuNames" :key="index" style="height:100%;">
              <a href="#" @click="SetStoreValue('决算表',index)">
                <div>
                  <span style="color:black">决算表</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>-->
      <el-tab-pane label="附件表" name="six">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in TableMenuArr" :key="index" style="height:100%;">
              <a href="#" @click="SetStoreValue(item.dataname,index)" @contextmenu.prevent="rightClick(this)">
                <div>
                  <i :class="item.dataicon"></i>
                  <span style="color:black">{{item.dataname}}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>
    </el-tabs>

    <div class="RightDiv" >
      <ul class="RightMenu">
        <li>
          <a>预览</a>
        </li>
        <li>
          <a>下载</a>
        </li>
      </ul>
    </div>

    <el-button
      size="mini"
      style="position:absolute;right:10px;top:5px;"
      @click="changeState"
      :icon="state?'el-icon-caret-bottom':'el-icon-caret-top'"
    ></el-button>
  </div>
</template>

<script>
  import axios from "axios";


  $(document).on("click", function () {
    $(".RightDiv").css("display", "none");
  });

  export default {
    name: "FootorCom",
    data() {
      return {
        activeName: "first",
        state: true,
        TableMenuArr: [],
        TableArray:[]
      };
    },
    mounted() {
    },
    methods: {
      getFooterTable(){
        var that = this;
        axios.get('../../static/Test_FooterTableData.json')
          .then((resp) => {
            that.TableArray = resp.data;
            resp.data.forEach(function(item,index){
              if("总表"==item.datatype){
                that.TableMenuArr.push(item);
              }
            })
          })
          .catch((err) => {
            console.log("请求失败：" + err.status + "," + err.statusText);
          });
      },
      rightClick(val) {
        $(".RightDiv").css({
          position: "absolute",
          bottom: 10,
          left: event.clientX - 250,
          "z-index": 2,
          "display":"block"
        });
      },
      SetStoreValue(val, index) {
        this.$store.state.ComponentType = val + index;
        this.$store.state.TableName = val;
      },
      handleClick(tab, event) {
        var that = this;
        that.TableMenuArr = [];
        that.TableArray.forEach(function(item,index){
          if(tab.label==item.datatype){
            that.TableMenuArr.push(item);
          }
        })
      },
      changeState() {
        this.state = !this.state;
        if (this.state) {
          this.showTabs();
        } else {
          this.hideTabs();
        }
      },
      showTabs() {
        this.$refs.tabs.$children[1].$el.hidden = false;
        this.$refs.tabs.$parent.$parent.$el.style.height = "200px";
      },
      hideTabs() {
        this.$refs.tabs.$children[1].$el.hidden = true;
        this.$refs.tabs.$parent.$parent.$el.style.height = "50px";
      },
    },
    mounted() {
      this.showTabs();
    },
  };
</script>

<style scoped>
  .footor {
    background-color: white;
  }

  .footerMenuUl,
  .footerMenuUl li {
    list-style: none; /* 将默认的列表符号去掉 */
    padding: 0; /* 将默认的内边距去掉 */
    /* margin: 0px 30px 0px 0px; */
    float: left; /* 往左浮动 */
    display: block;
  }

  .FooterDiv {
    text-align: left;
    line-height: 35px;
    vertical-align: middle;
    width: 100%;
    height: 15%;
  }
  .footerMenuUl div {
    width: auto;
    height: 100px;
    margin: 10px;
  }



  .footerMenuUl i,
  .footerMenuUl span {
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
  }


  .RightDiv {
    width: 90px;
    height: auto;
    border-radius: 5px;
    vertical-align: middle;
    background-color: gainsboro;
    z-index: 3000;
    display: none;
  }
  .RightMenu,
  .RightMenu li {
    width: 100%;
    text-align: center;
    list-style: none; /* 将默认的列表符号去掉 */
    padding: 0; /* 将默认的内边距去掉 */
    margin: 0px -35px 0px 0px;
    display: block;
  }

  .RightMenu li {
    margin: 0;
    cursor: pointer;
  }



  .RightMenu li:hover {
    background: grey;
    border-radius: 5px;
  }
</style>
