<template>
  <div class="leftdiv">
    <div
      class="LeftAsideDiv span"
      style="width:100%;height:5%;background-color:#4169e1;margin-top:5px"
    >
      <span>事务管理</span>
    </div>
    <div class="LeftAsideDiv btn">
      <el-row>
        <el-button
          type="success"
          style="width:150px"
          @click="SetComponentType('待办')"
        >待办（{{WorkClassity.WaitWork}}）</el-button>
      </el-row>
      <el-button
        type="warning"
        style="width:150px"
        @click="SetComponentType('已办')"
      >已办（{{WorkClassity.FinshedWork}}）</el-button>
    </div>

    <div
      class="LeftAsideDiv span"
      style="width:100%;height:5%;background-color:#4169e1;margin-top:5px"
    >
      <span>历史成果</span>
    </div>
    <div class="LeftAsideDiv btn">
      <el-autocomplete
        v-model="InputFindData"
        :fetch-suggestions="querySearchAsync"
        placeholder="请输入内容"
        @select="handleSelect"
      ></el-autocomplete>
      <!-- <el-input v-model="InputFindData" placeholder=""></el-input> -->
    </div>
    <div class="LeftAsideDiv ul">
      <ul class="LeftAsideUl">
        <li class="m-nav-item" v-for="item in YearList" :key="item" style="cursor:pointer">
          <a @click="SetComponentType(item)">
            <div style="color:white">{{item}}</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import axios from "axios";

  export default {
    name: "LeftCom",
    props: ["TestPicWorkData"],
    data() {
      return {
        WorkClassity: {
          WaitWork: 0,
          FinshedWork: 0,
        },
        YearList: [],
        InputFindData: "",
        FinshTestPitData: [],
        EditTestPitData: [],
        FormerYearsData:[],
        index: 0,
        restaurants: [],
        timeout: null,
      };
    },
    computed: {},
    watch: {
      TestPicWorkData: {
        handler: function (newV, oleV) {
          var that = this;
          var Year = new Date().getFullYear()
          if (isNaN(that.$store.state.ComponentType)) {
            that.EditTestPitData = [];
            that.FinshTestPitData = [];
            that.FormerYearsData = [];
            newV.forEach(function (item, index) {
              if(item.year==Year){
                if (item.DrillProgress == "已完成") {
                  that.FinshTestPitData.push(item);
                } else {
                  that.EditTestPitData.push(item);
                }
              }else{
                that.FormerYearsData.push(item);
              }
            });
          }
          that.WorkClassity = {
            WaitWork: that.EditTestPitData.length,
            FinshedWork: that.FinshTestPitData.length,
          };
        },
        deep: true,
      },
    },
    mounted() {
      var Year = new Date().getFullYear() - 1;
      for (var y = Year; y >= 2010; y--) {
        this.YearList.push(y);
      }
    },
    methods: {
      SetComponentType(val) {
        var that = this;
        that.$store.state.ComponentType = val == "待办" ? val + that.index : val;
        if (isNaN(val)) {
          that.$emit("parentMethod");
          that.$store.state.TestPicWorkData =
            val == "待办" ? that.EditTestPitData : that.FinshTestPitData;
          that.$store.state.TableName = "探井计划表";
          that.index++;
        } else {
          that.SetStoreValue(val);
          that.$store.state.TableName = "历史成果表";
        }
        this.restaurants = this.loadAll();
      },

      SetStoreValue(val) {
        // var data = {
        //   year: val,
        // };
        // var that = this;
        // axios
        //   .get("http://localhost:8080/getYearTestPicWorkData", { params: data })
        //   .then((resp) => {
        //     that.TestPicWorkData = resp.data;
        //     that.$store.state.TestPicWorkData = that.TestPicWorkData;
        //   })
        //   .catch((err) => {
        //     //
        //     console.log("请求失败：" + err.status + "," + err.statusText);
        //   });
        var data = [];
        this.FormerYearsData.forEach(function(item,index){
          if(item.year==val){
            data.push(item);
          }
        })
        this.$store.state.TestPicWorkData = data;
        this.InputFindData = "";

      },
      loadAll() {
        return this.FormerYearsData;
      },
      querySearchAsync(queryString, cb) {
        var that = this;
        var restaurants = that.restaurants;
        var results = queryString
          ? restaurants.filter(that.createStateFilter(queryString))
          : restaurants;
        clearTimeout(that.timeout);
        that.timeout = setTimeout(() => {
          cb(results);
          that.$store.state.TestPicWorkData = results;
        }, 100 * Math.random());
      },
      createStateFilter(queryString) {
        if (isNaN(queryString)) {
          return (state) => {
            return (
              state.wellName.toLowerCase().indexOf(queryString.toLowerCase()) ===
              0
            );
          };
        } else {
          return (state) => {
            return (
              state.year.toLowerCase().indexOf(queryString.toLowerCase()) === 0
            );
          };
        }
      },
      handleSelect(item) {
        console.log(item);
      },
    },
  };
</script>

<style>
  .leftdiv {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #6495ed;
  }

  .el-header {
    background-color: #20a0ff;
    color: #333;

    /* text-align: center;
    line-height: 60px; */
  }

  .el-footer {
    background-color: white;
    color: #333;
    padding: 0;
    /* text-align: center;
    line-height: 60px; */
  }

  .el-aside {
    color: #333;
    /* text-align: center;
    line-height: 200px; */
    /* height: 1000px; */
  }

  .el-main {
    background-color: #e9eef3;
    color: #333;
    padding: 0;
    /* text-align: center;
    line-height: 160px; */
  }
  .h1 {
    color: white;
  }

  a {
    text-decoration: none;
  }

  .LeftAsideUl div:link {
    background-color: #003ef7;
    text-decoration: underline;
  }
  .LeftAsideUl div:visited {
    background-color: #ff0000;
    text-decoration: none;
  }
  .LeftAsideUl div:hover {
    background-color: #48f042;
    text-decoration: none;
  }
  .LeftAsideUl div:active {
    background-color: #1f8aee;
    text-decoration: none;
  }

  .router-link-active {
    text-decoration: none;
  }

  .LeftAsideDiv {
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
  }
  .LeftAsideDiv span,
  .FooterDiv span {
    color: white;
    font-weight: bolder;
  }

  .LeftAsideUl,
  .LeftAsideUl li {
    list-style: none; /* 将默认的列表符号去掉 */
    padding: 0; /* 将默认的内边距去掉 */
    margin: 0;
    display: block;
  }
  .LeftAsideUl div {
    background-color: #003ef7;
    margin: 5px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
  }

  .el-autocomplete-suggestion el-popper,
  .el-scrollbar {
    display: none;
  }
</style>
