<template>
  <div class="home">
    <el-container>
      <el-header height="80px">
        <home-header></home-header>
      </el-header>
      <el-container>
        <el-aside width="250px">
          <left-com :TestPicWorkData="TestPicWorkData" @parentMethod="getTestPicWorkData"></left-com>
        </el-aside>
        <el-container>
          <el-main>
            <contain-com  @parentMethod="getTestPicWorkData"></contain-com>
          </el-main>
          <el-footer height="300px" v-show="FootComShowState">
            <footor-com  ref="elfooterCom"></footor-com>
          </el-footer>
        </el-container>
      </el-container>
    </el-container>
  </div>
</template>

<script>
  import axios from "axios";
  import HomeHeader from "./Common/HeaderComponent.vue";
  import LeftCom from "./Common/MainComponent.vue";
  import ContainCom from "./Common/AsideComponent.vue";
  import FootorCom from "./Common/FooterComponent.vue";
  export default {
    components: {
      HomeHeader,
      LeftCom,
      ContainCom,
      FootorCom,
    },
    data(){
      return {
        TestPicWorkData:[],
        userid:""
      }
    },
    watch:{
      FootComShowState(newV,oldV){
        if(newV){
          this.$refs.elfooterCom.activeName= "first",
            this.$refs.elfooterCom.TableMenuArr = [];
          this.$refs.elfooterCom.getFooterTable();
        }
      }
    },
    created(){
      var user=JSON.parse(sessionStorage.getItem('user'));
      this.userid=user.userid;
    },
    mounted () {
      this.getTestPicWorkData();
    },
    computed:{
      FootComShowState(){
        return this.$store.state.FootComShowState;
      }
    },
    methods: {
      getHomeLoad(){
        window.location.reload();
      },
      getTestPicWorkData() {
        var that = this;
        var data = {
          userid:that.userid
        }
        axios
          .get("../../static/Test_getAllTestPicData.json",data).then(response => {
          that.TestPicWorkData = response.data;
        }, response => {
          console.log("error");
        });
      },
      //获取当年所有井的信息
      getWellData(){
        // var user=JSON.parse(sessionStorage.getItem('user'));
        // this.sysUserName = user.username;

        axios.get('http://localhost:8080/getWellPlanData',
           {
            userid: this.userid  //向后台传递用户名
          }
        )
          .then((resp)=>{
            if(resp.success){

              sessionStorage.setItem("wellDataList", resp.list);  //存储当年井的所有信息（已办和代办），json形式的字符串

            }else{
              this.$message.error(resp.message); //数据获取失败
            }
          })
          .catch((err)=>{
            this.$message.error("请求失败：" + err);
          });
      }
    },
  };
</script>

<style>
  html,
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .home {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .el-header,
  .el-footer {
    color: #333;
    text-align: center;
    line-height: 60px;
    padding: 0;
  }

  /*
  .el-header{
    height: 100px;
  } */
  .el-footer {
  }

  .el-aside {
    /* background-color: #dfeeff;
    color: #333;
    text-align: center;
    line-height: 200px;
    padding: 0;*/
  }

  .el-main {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
  }

  .el-container {
    height: 99.68%;
    width: 100%;
    display: -webkit-box;
  }
</style>
