<template>
  <div>
    <h3 class="title"><img src='../assets/img/Logo_one.png' style="margin-bottom: -15px;"/>探井费用预算管理支持系统</h3>
    <el-form
      :model="ruleForm2"
      :rules="rules2"
      ref="ruleForm2"
      label-position="left"
      label-width="0px"
      class="demo-ruleForm login-container"
    >
      <el-form-item prop="account"><!-- prefix-icon="iconfont el-icon-user" -->
        <!-- <el-image src='../assets/img/head_icon01.png' style="height:50px;width:50px;float:left;"></el-image> -->
        <el-input type="text" v-model="ruleForm2.account" auto-complete="off" placeholder="账号"></el-input>
      </el-form-item>
      <el-form-item prop="checkPass">
        <el-input
          type="password"
          v-model="ruleForm2.checkPass"
          auto-complete="off"
          placeholder="密码"
        ></el-input>
      </el-form-item>
      <el-checkbox v-model="checked" checked class="remember">记住密码</el-checkbox>
      <el-form-item style="width:100%;">
        <el-button
          type="primary"
          style="width:100%;"
          @click.native.prevent="handleSubmit2"
          :loading="logining"
        >登录</el-button>
        <!--<el-button @click.native.prevent="handleReset2">重置</el-button>-->
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
//import axios from "axios";
  import axios from "axios";
  export default {
    data() {
      return {
        logining: false,
        ruleForm2: {
          account: "",
          checkPass: "",
        },
        rules2: {
          account: [
            { required: true, message: "请输入账号", trigger: "blur" },
            //{ validator: validaePass }
          ],
          checkPass: [
            { required: true, message: "请输入密码", trigger: "blur" },
            //{ validator: validaePass2 }
          ],
        },
        checked: true,
      };
    },
    mounted(){
      this.getCookie();
    },
    methods: {
      handleReset2() {
        this.$refs.ruleForm2.resetFields();
      },
      handleSubmit2(ev) {
        var _this = this;

        this.$refs.ruleForm2.validate((valid) => {
          if (valid) {
            var loginParams = {
              username: this.ruleForm2.account,
              password: this.ruleForm2.checkPass,
            };


            //传参数   loginParams登录用户名和密码
            //返回数据   用户信息（单位、邮箱、权限、姓名）
            axios.post('/api/LoginController/user',loginParams).then((resp) => {
              this.logining = false;
              // var data = {user:{ id: 1,
              //     username: "admin",
              //     password: "123456",
              //     name: "张某某",
              //     company:"天津分公司"},
              //   success:true,
              //   code:'200'
              // };

              let user = null;
              if (resp.data.success)
              {
                user = JSON.parse(JSON.stringify(resp.data.data));
                user.password = undefined;
                sessionStorage.setItem("user", JSON.stringify(user));
                //判断复选框是否被勾选 勾选则调用配置cookie方法
                if (this.checked == true) {
                  console.log("checked == true");
                  //传入账号名，密码，和保存天数3个参数
                  this.setCookie(this.ruleForm2.account, this.ruleForm2.checkPass, 7);
                }else {
                  console.log("清空Cookie");
                  //清空Cookie
                  this.clearCookie();
                }
                this.$router.push({ path: "/Home" });
              } else {
                this.$message.error(resp.data.message);
                /*this.$message({
                  message: "账号或密码错误",
                  type: "error",
                });*/
                this.$router.push({ path: "/" });
              }
            })

          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      //设置cookie
      setCookie(c_name, c_pwd, exdays) {
        var exdate = new Date(); //获取时间
        exdate.setTime(exdate.getTime() + 24 * 60 * 60 * 1000 * exdays); //保存的天数
        //字符串拼接cookie
        window.document.cookie = "userName" + "=" + c_name + ";path=/;expires=" + exdate.toGMTString();
        window.document.cookie = "userPwd" + "=" + c_pwd + ";path=/;expires=" + exdate.toGMTString();
      },
      //读取cookie
      getCookie: function() {
        if (document.cookie.length > 0) {
          var arr = document.cookie.split('; '); //这里显示的格式需要切割一下自己可输出看下
          for (var i = 0; i < arr.length; i++) {
            var arr2 = arr[i].split('='); //再次切割
            //判断查找相对应的值
            if (arr2[0] == 'userName') {
              this.ruleForm2.account = arr2[1]; //保存到保存数据的地方
            } else if (arr2[0] == 'userPwd') {
              this.ruleForm2.checkPass = arr2[1];
            }
          }
        }
      },
      //清除cookie
      clearCookie: function() {
        this.setCookie("", "", -1); //修改2值都为空，天数为负1天就好了
      }
    },
  };
</script>

<style>
  .login-container {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin: 0px auto 180px auto;
    width: 350px;
    padding: 35px 35px 15px 35px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
  }
  .title {
    /*  margin: 0px auto 5px auto; */
    text-align: center;
    color: #505458;
    margin-top: 250px;
  }
  .remember {
    margin: 0px 0px 35px 0px;
  }
</style>
