<template>
  <div class="initialBudgetTable">
    <!-- 表格 -->
    <div>
      <el-table
        id="FirstTable"
        class="ftable"
        :data="transData"
        height="136px"
        :show-header="false"
      >
        <el-table-column
          v-for="(item,index) in WellNewsData"
          label
          :key="index"
          align="center"
          width="95"
        >
          <template slot-scope="scope">
            <!-- <el-select v-model="selectValue" placeholder v-if="scope.$index>0&&index>10">
              <el-option
                v-for="(item,index) in scope.row[index]"
                :key="index"
                :label="item"
                :value="index"
              ></el-option>

              @input="transRevolution"
            </el-select>-->
            <span v-if="index%2==0">{{scope.row[index]}}</span>
            <span v-else>
              <el-input
                :disabled="!CanEditData"
                v-model="scope.row[index]"
                @input="transRevolution"
                placeholder
                v-if="scope.row[index-1]=='周期'"
              ></el-input>
              <el-input :disabled="!CanEditData" v-model="scope.row[index]" placeholder v-else></el-input>
            </span>
          </template>
        </el-table-column>
      </el-table>
      <el-table
        :data="tableData"
        ref="BudgetTable"
        row-key="uid"
        id="BudgetTable"
        :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
        highlight-current-row
        :default-expand-all="true"
        @current-change="RightDialog"
        @cell-click="tabClick"
        :row-class-name="tableRowClassName"
      >
        >
        <el-table-column prop label>
          <el-table-column prop="uid" label="编码" width="100"></el-table-column>
          <el-table-column prop="projectName" label="项目" width="200"></el-table-column>
          <el-table-column prop="udGetCost" label="预算（不含税）">
            <el-table-column prop="comConventRmb" label="折合人民币" width="100">
              <template slot-scope="scope">
                <!-- <el-input
                  :disabled="CanEditData"
                  v-model.number="scope.row.comConventRmb"
                  placeholder
                  v-if="scope.row.children!=undefined"
                ></el-input>-->
                <edit-div
                  :canEdit="!CanEditData"
                  :value="SumcomConventRmb(scope.row)"
                  v-if="scope.row.children!=undefined"
                ></edit-div>
                <edit-div
                  :canEdit="!CanEditData"
                  :value="SpecialRowsConvent(scope,scope.row)"
                  v-else-if="scope.row.pid==undefined"
                ></edit-div>
                <edit-div :canEdit="!CanEditData" :value="comConventRmb(scope.row)" v-else></edit-div>
              </template>
            </el-table-column>
            <el-table-column prop="comRmb" label="人民币" width="100">
              <template slot-scope="scope">
                <!--<el-input
                  :disabled="!CanEditData"
                  v-model.number="scope.row.comRmb"
                  @input="inputBlur(scope)"
                  placeholder
                ></el-input>-->
                <edit-div
                  :canEdit="!CanEditData"
                  :value="SumcomRmb(scope.row)"
                  v-if="scope.row.children!=undefined"
                ></edit-div>
                <edit-div
                  :canEdit="!CanEditData"
                  :value="SpecialRowsRmb(scope,scope.row)"
                  v-else-if="scope.row.pid==undefined"
                ></edit-div>
                <edit-div :canEdit="!CanEditData" :value="comRmb(scope.row)" v-else></edit-div>
              </template>
            </el-table-column>
            <el-table-column prop="comDollar" label="美元" width="100">
              <template slot-scope="scope">
                <!--  <el-input
                  :disabled="!CanEditData"
                  v-model.number="scope.row.comDollar"
                  @input="inputBlur(scope)"
                  placeholder
                ></el-input>-->
                <edit-div
                  :canEdit="!CanEditData"
                  :value="SumcomDollar(scope.row)"
                  v-if="scope.row.children!=undefined"
                ></edit-div>
                <edit-div
                  :canEdit="!CanEditData"
                  :value="SpecialRowsDollar(scope,scope.row)"
                  v-else-if="scope.row.pid==undefined"
                ></edit-div>
                <edit-div :canEdit="!CanEditData" :value="comDollar(scope.row)" v-else></edit-div>
              </template>
            </el-table-column>
          </el-table-column>
        </el-table-column>
        <el-table-column prop="date" label="模型公式：单价*数量*周期*费率" align="center" width="300">
          <el-table-column prop="UnitPrice" label="单价">
            <el-table-column prop="rmb" label="人民币单价" width="100">
              <template slot-scope="scope">
                <!--    <el-input :disabled="!CanEditData" v-model="scope.row.rmb" @input="rmbinput(scope.row.rmb)" placeholder></el-input>-->
                <el-input
                  :disabled="!CanEditData"
                  v-model.number="scope.row.rmb"
                  @input="inputBlur(scope)"
                  placeholder
                ></el-input>
              </template>
            </el-table-column>
            <el-table-column prop="dollar" label="美元单价" width="100">
              <template slot-scope="scope">
                <!--  <el-input :disabled="!CanEditData" v-model="(scope.row.rmb/scope.row.rate).toFixed(2)" placeholder></el-input>-->
                <el-input
                  :disabled="!CanEditData"
                  v-model.number="scope.row.dollar"
                  @input="inputBlur(scope)"
                  placeholder
                ></el-input>
              </template>
            </el-table-column>
          </el-table-column>
          <el-table-column prop="number" label="数量" width="100">
            <template slot-scope="scope">
              <edit-div
                :canEdit="!CanEditData"
                :value="number(scope.row)"
                v-if="scope.row.children!=undefined"
              ></edit-div>
              <el-input
                :disabled="!CanEditData"
                v-model.number="scope.row.number"
                v-else
                placeholder
              ></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="revolution" label="周期" width="100">
            <template slot-scope="scope">
              <el-input
                :disabled="!CanEditData"
                v-model.number="scope.row.revolution"
                @input="inputBlur(scope)"
                v-if="scope.row.children!=undefined"
              ></el-input>
              <el-input :disabled="!CanEditData" v-model.number="scope.row.revolution" v-else></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="rate" label="费率" width="100">
            <template slot-scope="scope">
              <el-input
                :disabled="!CanEditData"
                v-model.number="scope.row.rate"
                @input="inputBlur(scope)"
                placeholder
              ></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="unit" label="单位">
            <template slot-scope="scope">
              <el-input :disabled="!CanEditData" v-model="scope.row.unit" placeholder></el-input>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column prop="remarks" label="备注"></el-table-column>
      </el-table>
    </div>
    <!-- 表格  end -->
  </div>
</template>
<script>
  var EditDiv = {
    template: `<div class="edit-div"
                    v-html="value"
                    :contenteditable="canEdit"
                    v-on:focus="isLocked = true"
                    v-on:blur="isLocked = false"
                    v-on:input="changeText"
    >
    </div>`,
    props: {
      value: {
        type: [String, Number],
        default: "",
      },
      canEdit: {
        type: Boolean,
        default: true,
      },
    },
    data() {
      return {
        isLocked: false,
      };
    },
    methods: {
      changeText() {
        this.$emit("input", this.$el.innerHTML);
      },
    },
  };

  import axios from "axios";
  var FileSaver = require("file-saver");
  import XLSX from "xlsx";

  export default {
    name: "initialBudgetTable",
    props: ["ExcelData", "CanEditData"],
    created() {},
    beforeUpdate() {},
    mounted() {},
    components: {
      EditDiv,
    },
    watch: {
      //监听获取探井工作计划表选中数据的变化 并且赋值给用来遍历的数组WellNewsData
      originData(newV, oldV) {
        var that = this;
        var WellNewsData = that.WellNewsData;
        that.transData = [];
        let arr = new Array();
        let f = [];
        let s = [];
        newV.forEach(function (item, index) {
          WellNewsData.forEach(function (witem, windex) {
            if (item.type == witem.type) {
              witem.value = item.value;
            } else if (item.type == "id") {
              that.SelectTestPicId = item.value;
            }
            if (item.type == "revolution") {
              that.DefaultRevolution = item.value;
            }
            if (item.type == "wellDepth") {
              that.DefaultWellDepth = item.value;
            }
          });
        });
        WellNewsData.forEach(function (item, index) {
          if (index % 2 != 0) {
            f.push(item.label);
            f.push(item.value);
          } else {
            s.push(item.label);
            s.push(item.value);
          }
        });
        that.transData.push(s);
        that.transData.push(f);
        //接口实现后改方法可注释   换成that.TableData = that.$store.state.wellBudgetData;
        that.getBottomTableData();
      },
    },
    computed: {
      //获取探井工作计划表中选中的数据
      originData() {
        return this.$store.state.wellParamsData;
      },
      SpecialRowsConvent(data, val) {
        return function (data, val) {
          if (
            this.SpecialRowsCustomizeData &&
            this.SpecialRowsCustomizeName == val.projectName
          ) {
            val.comConventRmb = parseFloat(
              (val.rmb + val.dollar * val.rate) * val.number * val.revolution
            ).toFixed(2);
            return val.comConventRmb;
          }
          var table = data.store.states._data;
          if (val.projectName == "单井成本合计") {
            var sum = 0;
            table.forEach(function (item, index) {
              if (item.pid == -1) {
                sum = sum + Number(item.comConventRmb);
              }
            });
            val.comConventRmb = parseFloat(sum).toFixed(2);
            return val.comConventRmb;
          }
          if (val.projectName == "平均每米成本(万元/米)") {
            val.comConventRmb = parseFloat(
              table[0].comConventRmb / this.DefaultWellDepth
            ).toFixed(2);
            return val.comConventRmb;
          }
          if (val.projectName == "平均每日综合成本(万元/日)") {
            val.comConventRmb = parseFloat(
              table[0].comConventRmb / this.DefaultRevolution
            ).toFixed(2);
            return val.comConventRmb;
          }
        };
      },
      SpecialRowsRmb(data, val) {
        return function (data, val) {
          if (
            this.SpecialRowsCustomizeData &&
            this.SpecialRowsCustomizeName == val.projectName
          ) {
            val.comRmb = parseFloat(
              val.rmb * val.number * val.revolution
            ).toFixed(2);
            return val.comRmb;
          }
          var table = data.store.states._data;
          if (val.projectName == "单井成本合计") {
            var sum = 0;
            table.forEach(function (item, index) {
              if (item.pid == -1) {
                sum = sum + Number(item.comRmb);
              }
            });
            val.comRmb = parseFloat(sum).toFixed(2);
            return val.comRmb;
          }
          if (val.projectName == "平均每米成本(万元/米)") {
            val.comRmb = parseFloat(
              table[0].comRmb / this.DefaultWellDepth
            ).toFixed(2);
            return val.comRmb;
          }
          if (val.projectName == "平均每日综合成本(万元/日)") {
            val.comRmb = parseFloat(
              table[0].comRmb / this.DefaultRevolution
            ).toFixed(2);
            return val.comRmb;
          }
        };
      },
      SpecialRowsDollar(data, val) {
        return function (data, val) {
          if (
            this.SpecialRowsCustomizeData &&
            this.SpecialRowsCustomizeName == val.projectName
          ) {
            val.comDollar = parseFloat(
              val.dollar * val.number * val.revolution
            ).toFixed(2);
            return val.comDollar;
          }
          var table = data.store.states._data;
          if (val.projectName == "单井成本合计") {
            var sum = 0;
            table.forEach(function (item, index) {
              if (item.pid == -1) {
                sum = sum + Number(item.comDollar);
              }
            });
            val.comDollar = parseFloat(sum).toFixed(2);
            return val.comDollar;
          }
          if (val.projectName == "平均每米成本(万元/米)") {
            val.comDollar = parseFloat(
              table[0].comDollar / this.DefaultWellDepth
            ).toFixed(2);
            return val.comDollar;
          }
          if (val.projectName == "平均每日综合成本(万元/日)") {
            val.comDollar = parseFloat(
              table[0].comDollar / this.DefaultRevolution
            ).toFixed(2);
            return val.comDollar;
          }
        };
      },
      SumcomConventRmb(val) {
        return function (val) {
          if (
            (this.CustomizeData && this.SecondCustomizeData) ||
            (val.pid == 0 && !this.SecondCustomizeData && this.CustomizeData)
          ) {
            val.comConventRmb = parseFloat(
              (val.rmb + val.dollar * val.rate) * val.number * val.revolution
            ).toFixed(2);
            return val.comConventRmb;
          }
          var sum = 0;
          val.children.forEach(function (item, index) {
            sum = sum + Number(item.comConventRmb);
          });
          val.comConventRmb = parseFloat(sum).toFixed(2);
          return val.comConventRmb;
        };
      },
      comConventRmb(val) {
        return function (val) {
          val.comConventRmb = parseFloat(
            (val.rmb + val.dollar * val.rate) * val.number * val.revolution
          ).toFixed(2);
          return val.comConventRmb;
        };
      },
      SumcomDollar(val) {
        return function (val) {
          if (this.CustomizeData) {
            val.comDollar = parseFloat(
              val.dollar * val.number * val.revolution
            ).toFixed(2);
            return val.comDollar;
          }
          var sum = 0;
          val.children.forEach(function (item, index) {
            sum = sum + Number(item.comDollar);
          });
          val.comDollar = parseFloat(sum).toFixed(2);
          return val.comDollar;
        };
      },
      comDollar(val) {
        return function (val) {
          val.comDollar = parseFloat(
            val.dollar * val.number * val.revolution
          ).toFixed(2);
          return val.comDollar;
        };
      },
      SumcomRmb() {
        return function (val) {
          if (this.CustomizeData) {
            val.comRmb = parseFloat(
              val.rmb * val.number * val.revolution
            ).toFixed(2);
            return val.comRmb;
          }
          var sum = 0;
          val.children.forEach(function (item, index) {
            sum = sum + Number(item.comRmb);
          });
          val.comRmb = parseFloat(sum).toFixed(2);
          return val.comRmb;
        };
      },
      comRmb(val) {
        return function (val) {
          val.comRmb = parseFloat(val.rmb * val.number * val.revolution).toFixed(
            2
          );
          return val.comRmb;
        };
      },
      number(val) {
        return function (val) {
          var sum = 0;
          val.children.forEach(function (item, index) {
            sum = sum + Number(item.number);
          });
          val.number = sum;
          return val.number;
        };
      },
      revolution(val) {
        return function (val) {
          val.children.forEach(function (item, index) {
            val.children[index].revolution = val.revolution;
          });
          return val.revolution;
        };
      },
    },
    //'','通过','审批意见','提及','通过','通过',''
    data() {
      return {
        ratermb: "",
        ValueType: true,
        AppendixDialog: false,
        selectValue: "11",
        SelectTestPicId: "",
        InputDisable: false,
        transData: [],
        tableData: [],
        ConsultWellSelectData: [],
        WellNewsData: [
          { label: "井名", type: "wellName", value: "" },
          { label: "费率", type: "rate", value: 2.1 },
          { label: "井深(米)", type: "wellDepth", value: "" },
          { label: "周期", type: "revolution", value: "" },
          { label: "水深", type: "waterDepth", value: "" },
          { label: "钻井作业", type: "drillingOperation", value: "" },
          { label: "补心海拔", type: "buxinAltitude", value: "" },
          { label: "拖航压载(天)", type: "towingBallast", value: "" },
          { label: "取心(天)", type: "coring", value: "" },
          { label: "船舶油料", type: "boatOli", value: "" },
          { label: "固井(层)", type: "wellCementaion", value: "" },
          { label: "钻井船", type: "drillShip", value: "" },
        ],
        DefaultRevolution: "",
        DefaultRate: 1,
        DefaultWellDepth: "",
        tabClickIndex: "",
        tabClickLabel: "",
        ParamData: [],
        CustomizeData: false,
        SecondCustomizeData: false,
        SpecialRowsCustomizeData: false,
        SpecialRowsCustomizeName: "",
      };
    },
    methods: {
      getTableData() {
        var data = [];
        var key = [
          "uid",
          "projectName",
          "comConventRmb",
          "comRmb",
          "comDollar",
          "rmb",
          "dollar",
          "number",
          "revolution",
          "rate",
          "unit",
          "remarks",
        ];
        $("#BudgetTable tbody")
          .find("tr")
          .each(function (trindex, tritem) {
            var arr = new Object();
            $(this)
              .find("td")
              .each(function (tdindex, tditem) {
                if (tditem.innerText == "") {
                  arr[key[tdindex]] = $(tditem).find("input").val();
                } else {
                  arr[key[tdindex]] = tditem.innerText;
                }
              });
            data.push(arr);
          });
        this.ParamData = data;
      },
      // 把每一行的索引放进row
      tableRowClassName({ row, rowIndex }) {
        row.index = rowIndex;
      },
      // 添加明细原因 row 当前行 column 当前列
      tabClick(row, column, cell, event) {
        switch (column.label) {
          case "折合人民币":
            this.tabClickIndex = row.index;
            this.tabClickLabel = column.label;
            break;
          case "人民币":
            this.tabClickIndex = row.index;
            this.tabClickLabel = column.label;
            break;
          case "美元":
            this.tabClickIndex = row.index;
            this.tabClickLabel = column.label;
            break;
          case "人民币单价":
            this.tabClickIndex = row.index;
            this.tabClickLabel = column.label;
            break;
          case "美元单价":
            this.tabClickIndex = row.index;
            this.tabClickLabel = column.label;
            break;
          case "数量":
            this.tabClickIndex = row.index;
            this.tabClickLabel = column.label;
            break;
          case "周期":
            this.tabClickIndex = row.index;
            this.tabClickLabel = column.label;
            break;
          case "费率":
            this.tabClickIndex = row.index;
            this.tabClickLabel = column.label;
            break;
          default:
            return;
        }
      },
      // 失去焦点初始化
      inputBlur(scope) {
        var that = this;
        that.CustomizeData = false;
        that.SecondCustomizeData = true;
        that.SpecialRowsCustomizeData = true;
        if (scope.row.children != undefined) {
          that.SecondCustomizeData = true;
          that.CustomizeData = true;
          if (scope.row.pid == 0) {
            that.SecondCustomizeData = false;
          }
          if (scope.row.pid == -1) {
            that.SecondCustomizeData = true;
          }
        }
        if (scope.row.pid != undefined) {
          that.SpecialRowsCustomizeData = false;
        } else {
          that.SpecialRowsCustomizeName = scope.row.projectName;
        }

        if (scope.column.property == "rmb") {
          scope.row.dollar = parseFloat(scope.row.rmb / scope.row.rate).toFixed(
            2
          );
        }
        if (scope.column.property == "dollar") {
          scope.row.rmb = scope.row.dollar * scope.row.rate;
        }
        if (scope.column.property == "rate") {
          scope.row.dollar = parseFloat(scope.row.rmb / scope.row.rate).toFixed(
            2
          );
        }

        if (scope.column.property == "revolution") {
          this.getRevolution(scope.row.children, scope.row.revolution);
        }
        this.tabClickIndex = null;
        this.tabClickLabel = "";
      },
      getRevolution(data, value) {
        var that = this;
        data.forEach(function (item, index) {
          if (item.children != undefined) {
            that.getRevolution(item.children, value);
            item.revolution = value;
          }
          item.revolution = value;
        });
      },

      transRevolution() {
        var that = this;
        that.DefaultRevolution = event.target.value;
        that.tableData.forEach(function (item, index) {
          item.revolution = event.target.value;
          if (item.children != undefined) {
            that.getRevolution(item.children, event.target.value);
          }
        });
      },
      getBottomTableData() {
        var revolution = this.DefaultRevolution;
        var that = this;
        axios.get("../../static/Test_InitialBudgetData.json").then(
          (response) => {
            response.data.forEach(function (item, index) {
              item.revolution = revolution;
              if (item.children != undefined) {
                that.getRevolution(item.children, revolution);
              }
            });
            this.tableData = response.data;
          },
          (response) => {
            console.log("error");
          }
        );
      },
      //判断是否需要右侧组件
      RightDialog(val) {
        var that = this;
        if (val.rightDialog) {
          that.$store.state.ShowRightDialogData = val.ShowRightDialogData;
        } else {
          that.$store.state.ShowRightDialogData = false;
        }
      },
      SubmitBudgetData() {
        var that = this;
        that.$refs.BudgetTable.setCurrentRow();
        that.$emit("onSubmitBudTable", "已完成");
      },
    },
  };
</script>


<style>
  .el-dialog__body {
    padding: 0 20px 10px 20px;
  }
</style>
