<template>
  <!-- 工具栏 -->
  <div class="initialBudgetTable">
    <div class="ToolBal">
      <el-button @click="getConsultWell">参照井</el-button>
      <el-button @click="AppendixDialog=true">附件管理</el-button>
      <el-button @click="PreserveSaveData('Preserve')">保存</el-button>
      <el-button @click="PreserveSaveData('Save')">导出</el-button>
      <el-button @click="SubmitBudgetData">提交</el-button>
    </div>
    <!-- 工具栏  end -->
    <!-- 表格 -->
    <div>
      <el-tabs v-model="InitialactiveName" type="card" @tab-click="handleClick">
        <el-tab-pane label="初始预算表" name="初始预算表">
          <initial-budget-table-com :CanEditData="CanEditData" ref="initialBudgut"></initial-budget-table-com>
        </el-tab-pane>
        <el-tab-pane label="钻井进度表" name="钻井进度表">
          <well-progress-table-com ref="wellProgress"></well-progress-table-com>
        </el-tab-pane>
      </el-tabs>
    </div>
    <!-- 表格  end -->
    <!-- 参照井 -->
    <div>
      <el-dialog
        title="参照井"
        :visible.sync="ConsultWellDialog"
        width="20%"

        :before-close="handleClose"
      >
        <el-table
          ref="multipleTable2"
          :data="ConsultWellData"
          tooltip-effect="dark"
          style="width: 100%"
          highlight-current-row
          @current-change="ConsultWellSelection"
        >

          <el-table-column label="参照井井名" prop="ConsultWellName" align="center"></el-table-column>
        </el-table>
        <el-input v-model="SelectConsultWellName" placeholder @input="$refs.multipleTable2.setCurrentRow(row)"></el-input>
        <span slot="footer" class="dialog-footer">
          <el-button @click="ConsultDefine">确 定</el-button>
        </span>
      </el-dialog>
    </div>
    <!-- 参照井  end -->
    <!-- 附件管理 -->
    <div>
      <el-dialog
        title="附件管理"
        :visible.sync="AppendixDialog"
        width="50%"

      >
        <div style="width:100%">

        </div>

        <el-table
          ref="multipleTable"
          :data="AppendixData"
          tooltip-effect="dark"
          style="width: 100%;height:50%"
        >
          <el-table-column label="序号" prop="AppendixId"></el-table-column>
          <el-table-column label="文件名" prop="AppendixFileName"></el-table-column>
          <el-table-column label="大小" prop="AppendixKb"></el-table-column>
          <el-table-column label="操作" prop="AppendixHandle" width="250">
            <el-link target="_blank">预览</el-link>
            <el-link target="_blank">删除</el-link>
            <el-link target="_blank">下载</el-link>
            <el-upload
              class="upload-demo"
              action
              :on-change="handleChange"
              :show-file-list="false"
              accept="application/vnd.openxmlformats-
      officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
              :auto-upload="false"
              style="float:left;margin-right:10px"
            >
              <el-link target="_blank">导入文件</el-link>
            </el-upload>
          </el-table-column>
        </el-table>
        <span slot="footer" class="dialog-footer"></span>
      </el-dialog>
    </div>
    <!-- 附件管理   end -->
  </div>
</template>
<script>
  var EditDiv = {
    template: `<div class="edit-div"
                    v-html="value"
                    :contenteditable="canEdit"
                    :computedmoney="comMoney"
                    v-on:focus="isLocked = true"
                    v-on:blur="isLocked = false"
                    v-on:input="changeText"
    >
    </div>`,
    props: {
      value: {
        type: [String, Number],
        default: "",
      },
      canEdit: {
        type: Boolean,
        default: true,
      },
      comMoney: {
        type: Boolean,
        default: true,
      },
    },
    data() {
      return {
        isLocked: false,
      };
    },
    methods: {
      changeText() {
        this.$emit("input", this.$el.innerHTML);
      },
    },
  };

  import axios from "axios";
  var FileSaver = require("file-saver");
  import XLSX from "xlsx";
  import InitialBudgetTableCom from "./InitialBudgetTableCom.vue";
  import WellProgressTableCom from "./WellProgressTableCom.vue";

  export default {
    name: "SumInitialBudgetTable",
    props: ["ExcelData", "CanEditData"],
    created() {},
    mounted() {
      this.getBottomTableData();
    },
    components: {
      EditDiv,
      InitialBudgetTableCom,
      WellProgressTableCom,
    },
    watch: {
      //监听获取探井工作计划表选中数据的变化 并且赋值给用来遍历的数组WellNewsData
      originData(newV, oldV) {
        var that = this;
        var WellNewsData = that.WellNewsData;
        that.transData = [];
        let arr = new Array();
        let f = [];
        let s = [];
        newV.forEach(function (item, index) {
          WellNewsData.forEach(function (witem, windex) {
            if (item.type == witem.type) {
              witem.value = item.value;
            } else if (item.type == "id") {
              that.SelectTestPicId = item.value;
            }
            if (item.type == "revolution") {
              that.DefaultRevolution = item.value;
            }
          });
        });
        WellNewsData.forEach(function (item, index) {
          if (index % 2 != 0) {
            f.push(item.label);
            f.push(item.value);
          } else {
            s.push(item.label);
            s.push(item.value);
          }
        });
        that.transData.push(s);
        that.transData.push(f);
      },
    },
    computed: {
      //获取探井工作计划表中选中的数据
      originData() {
        return this.$store.state.wellParamsData;
      },
      //折合人民币的计算
      comConventRmb() {
        return function (val) {
          return parseFloat(val.comRmb + val.comDollar * val.rate).toFixed(2);
        };
      },
      //预算人民币的计算
      comRmb(val) {
        return function (val) {
          return (
            parseFloat(val.number) *
            parseFloat(val.rmb) *
            parseFloat(val.revolution) *
            parseFloat(val.rate)
          ).toFixed(2);
        };
      },
      //预算美元的计算
      comDollar(val) {
        return function (val) {
          return parseFloat(
            val.number * val.dollar * val.revolution * val.rate
          ).toFixed(2);
        };
      },
      //部分数量总计需要从其他组件获取
      comNumber(val) {
        return function (val) {
          val.number = this.SumComNumer;
          return val.number;
        };
      },
    },
    //'','通过','审批意见','提及','通过','通过',''
    data() {
      return {
        SelectConsultWellName: "",
        InitialactiveName: "初始预算表",
        ratermb: "",
        AppendixData: [{AppendixId:""}],
        ValueType: true,
        AppendixDialog: false,
        ConsultWellDialog: false,
        selectValue: "11",
        SelectTestPicId: "",
        InputDisable: false,
        transData: [],
        tableData: [],
        ConsultWellSelectData: [],
        ConsultWellData: [
          { ConsultWellName: "**井" },
          { ConsultWellName: "**井" },
          { ConsultWellName: "**井" },
          { ConsultWellName: "**井" },
          { ConsultWellName: "**井" },
        ],
        WellNewsData: [
          { label: "井名", type: "wellName", value: "" },
          { label: "费率", type: "rate", value: "" },
          { label: "井深(米)", type: "wellDepth", value: "" },
          { label: "周期", type: "revolution", value: "" },
          { label: "水深", type: "waterDepth", value: "" },
          { label: "钻井作业", type: "drillingOperation", value: "" },
          { label: "补心海拔", type: "buxinAltitude", value: "" },
          { label: "拖航压载(天)", type: "towingBallast", value: "" },
          { label: "取心(天)", type: "coring", value: "" },
          { label: "船舶油料", type: "boatOli", value: "" },
          { label: "固井(层)", type: "wellCementaion", value: "" },
          { label: "钻井船", type: "drillShip", value: "" },
        ],
        DefaultRevolution: "",
        DefaultRate: "",
      };
    },
    methods: {
      PreserveSaveData(val) {
        var that = this;
        that.$refs.wellProgress.getTableData();
        that.$refs.initialBudgut.getTableData();

        var data = {
          handlerType: val,
          wellid: that.SelectTestPicId,
          wellProgressTableData: that.$refs.wellProgress.ParamData,
          wellCostTableData: that.$refs.initialBudgut.ParamData,
        };
        axios.get("#", { params: data }).then(
          (response) => {
            if (response.success) {
              that.msg_dialog("成功");
            } else {
              that.msg_dialog("失败");
            }
          },
          (response) => {
            that.msg_dialog(response.error);
          }
        );
      },
      handleClose(){},
      handleClick(tab, event) {

      },
      getBottomTableData() {
        axios.get("../../static/Test_InitialBudgetData.json").then(
          (response) => {
            this.tableData = response.data;
          },
          (response) => {
            console.log("error");
          }
        );
      },
      RightDialog(val) {
        var that = this;
        that.$emit("onRightDialog", val);
      },
      ConsultWellSelection(val) {
        this.ConsultWellSelectData = val;
        this.SelectConsultWellName = val.ConsultWellName;
      },
      ConsultInput(){
        // this.ConsultWellSelectData= [];
        // this.$refs.ConsultWellTable.setCurrentRow();
      },
      ConsultDefine(){
        var that = this;
        var NConsultData;
        if(that.ConsultWellSelectData!= null){
          NConsultData = that.ConsultWellSelectData;
        }else{
          NConsultData = that.SelectConsultWellName;
        }
        that.ConsultWellDialog = false;

      },
      SubmitBudgetData() {
        var that = this;
        that.$emit("onSubmitBudTable","已完成");
        //修改成post
        axios
          .get("#", {
            params: {
              wellid: that.SelectTestPicId,
            },
          })
          .then(
            (response) => {
              if (response.success) {
                that.msg_dialog("提交成功");
              } else {
                that.msg_dialog("提交失败");
              }
            },
            (response) => {
              that.msg_dialog(response.error);
            }
          );
      },
      getConsultWell() {
        var that = this;
        axios
          .get("#", {
            params: {
              wellid: that.SelectTestPicId,
            },
          })
          .then(
            (response) => {
              if (true) {
                //  that.ConsultWellData = response.data;
                that.ConsultWellDialog = true;
              } else {
                that.msg_dialog("查询失败");
              }
            },
            (response) => {
              that.msg_dialog(response.error);
            }
          );
      },
      //上传文件时处理方法
      handleChange(file, fileList) {
        this.fileTemp = file.raw;
        if (this.fileTemp) {
          if (
            this.fileTemp.type ==
            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ||
            this.fileTemp.type == "application/vnd.ms-excel"
          ) {
            var formData = new FormData();
            var that = this;
            formData.append("file", this.fileTemp);
            var data = {
              AppendixId:this.fileTemp.uid,
              AppendixFileName:this.fileTemp.name,
              AppendixKb:this.fileTemp.size

            }
            that.AppendixData.unshift(data);
            axios
              .post("#", formData, {
                headers: {
                  "Content-Type": "multipart/form-data",
                },
              })
              .then((res) => {
                if (true) {
                  that.msg_dialog("上传成功");

                } else {
                  that.msg_dialog("上传失败");
                }
              })
              .catch((err) => {
                that.msg_dialog(err);


              });

          } else {
            this.msg_dialog("附件格式错误，请删除后重新上传！");
          }
        } else {
          this.msg_dialog("请上传附件！");
        }
      },
      msg_dialog(msg) {
        this.$alert(msg, "提示", {
          dangerouslyUseHTMLString: true,
        });
      },
    },
  };
</script>


<style>
  .el-dialog__body {
    padding: 0 20px 10px 20px;
  }
</style>
