<template>
  <!-- 工具栏 -->
  <div class="WellProgressTableCom">
    <el-table class="ProgressTable" :data="tableData" style="width: 100%">
      <el-table-column prop="date" label="日期" width="180"></el-table-column>
      <el-table-column prop="name" label="姓名" width="180"></el-table-column>
      <el-table-column prop="address" label="地址"></el-table-column>
    </el-table>
  </div>
</template>
<script>
export default {
    name: "WellProgressTableCom",
    data() {
      return {
        tableData: [
          {
            date: "2016-05-02",
            name: "王小虎",
            address: "上海市普陀区金沙江路 1518 弄",
          },
          {
            date: "2016-05-04",
            name: "王小虎",
            address: "上海市普陀区金沙江路 1517 弄",
          },
          {
            date: "2016-05-01",
            name: "王小虎",
            address: "上海市普陀区金沙江路 1519 弄",
          },
          {
            date: "2016-05-03",
            name: "王小虎",
            address: "上海市普陀区金沙江路 1516 弄",
          },
        ],
        ParamData:[],
      };
    },
    methods: {
      getTableData() {
        var data = [];
        var key = ["date", "name", "address"];
        $(".ProgressTable tbody")
          .find("tr")
          .each(function (trindex, tritem) {
            var arr = new Object();
            $(this)
              .find("td")
              .each(function (tdindex, tditem) {

                arr[key[tdindex]] = tditem.innerText;

              });
            data.push(arr);
          });
        this.ParamData = data;
      },
    },
  };
</script>


<style>
  .el-dialog__body {
    padding: 0 20px 10px 20px;
  }
</style>
