<template>
  <div class="testPitWorkTable" style="height:100%;position: relative;overflow: auto;">
    <!-- 工具栏 -->
    <div class="ToolBal">
      <i class="upload" style="font-size:50px;cursor: pointer;" v-on:click="LeadingInDialog=true"></i>
      <i class="download"  v-on:click="SaveExcel('Tanjing')" style="cursor: pointer;"></i>
    </div>
    <!--工具栏 end-->
    <div style="position: absolute;">
      <h1>{{YearValue}}{{$store.state.CompanyName}}{{$store.state.TableName}}</h1>
      <el-table
        id="Tanjing"
        ref="multipleTable"
        :data="DataType"
        tooltip-effect="dark"
        style="width: 100%"
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection"></el-table-column>
        <el-table-column prop="companyLocation" label="区域"></el-table-column>
        <el-table-column prop="year" label="年份"></el-table-column>
        <el-table-column prop="wellName" label="井名"></el-table-column>
        <el-table-column prop="wellClass" label="井别"></el-table-column>
        <el-table-column prop="wellType" label="井型"></el-table-column>
        <el-table-column prop="coordX" label="井位坐标X"></el-table-column>
        <el-table-column prop="coordY" label="井位坐标Y"></el-table-column>
        <el-table-column prop="wellDepth" label="井深（米）"></el-table-column>
        <el-table-column prop="waterDepth" label="水深"></el-table-column>
        <el-table-column prop="kb" label="补心海拔（米）"></el-table-column>
        <el-table-column prop="period " label="周期（天）"></el-table-column>
        <el-table-column prop="drillingOperation" label="钻井作业"></el-table-column>
        <el-table-column prop="towingBallast" label="拖航压载（天）"></el-table-column>
        <el-table-column prop="coring" label="取心（天）"></el-table-column>
        <el-table-column prop="drillingRig" label="钻井船"></el-table-column>
        <el-table-column prop="wellCementation" label="固井（层）"></el-table-column>
        <el-table-column prop="state" label="钻井进度" width="120"></el-table-column>
        <el-table-column prop="remark" label="备注"></el-table-column>
      </el-table>
    </div>

    <el-dialog title="导入" :visible.sync="LeadingInDialog" width="30%" :before-close="handleClose">
      <div>
        <el-button
          style="float: left;margin-right:10px"
          type="primary"
          @click="SaveExcel('Tanjing  thead')"
        >下载模板</el-button>
        <el-upload
          class="upload-demo"
          action
          :on-change="handleChange"
          :show-file-list="false"
          accept="application/vnd.openxmlformats-
      officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          :auto-upload="false"
          style="float: left;"
        >
          <el-button type="primary">导入探井计划</el-button>
        </el-upload>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="LeadingInDialog = false">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import axios from "axios";
  var FileSaver = require("file-saver");
  import XLSX from "xlsx";

  export default {
    name: "TestPitWorkTable",
    props: ["CanEditData", "SelectDataId"],
    computed: {
      DataType() {
        return this.$store.state.TestPicWorkData;
      },
      SetComponentType() {
        return this.$store.state.ComponentType;
      },
    },
    watch: {
      SetComponentType(newV, oldV) {
        if (isNaN(newV)) {
          this.YearValue = new Date().getFullYear();
        } else {
          this.YearValue = newV;
        }
      },
    },
    mounted() {
      $("#Tanjing").scrollTop($(".testPitWorkTable").height());
    },
    data() {
      return {
        YearValue: "",
        TestPitData: [
          // {
          //   id:0,
          //   area: "天津",
          //   year: "2019",
          //   wellName: "KL***",
          //   wellType: "预探井",
          //   wellMould: "定向井",
          //   wellPositionX: "",
          //   wellPositionY: "",
          //   wellDepth: "",
          //   waterDepth: "4311.5",
          //   buxinAltitude: "89.5",
          //   revolution: "",
          //   drillingOperation: "",
          //   towingBallast: "",
          //   coring: "",
          //   drillShip: "",
          //   wellCementaion: "",
          //   initialBudget: '可编辑',
          //   initialBudgetApproval: "",
          //   adjustBudget: "",
          //   adjustBudgetApproval: "",
          //   financialStatements: "",
          //   remarks: "11111",
          // }
        ],
        EditTestPitData: [],
        FinshTestPitData: [],
        multipleSelectionId: "",
        currentRowIndex: "",
        PrototTypeData: [],
        LeadingInDialog: false,
      };
    },
    methods: {
      handleSelectionChange(val, index) {
        var that = this;
        if (val.length > 0) {
          that.multipleSelectionId = val[0].id;
        }
        var arr = new Array();
        this.$refs.multipleTable.$children.forEach((obj) => {
          var data = new Object();

          data["prop"] = obj.prop;
          data["label"] = obj.label;
          arr.push(data);
        });

        that.$emit("onSelectData", val, arr);
      },

      //上传文件时处理方法
      handleChange(file, fileList) {

        this.fileTemp = file.raw;
        if (this.fileTemp) {
          if (
            this.fileTemp.type ==
            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ||
            this.fileTemp.type == "application/vnd.ms-excel"
          ) {
            var formData = new FormData();
            var that = this;
            formData.append("file", this.file);
            axios.post( "http://localhost:8080/DrillProgressUploadF", formData, {
              headers: {
                "Content-Type": "multipart/form-data",
              },
            })
              .then((res) => {
                if(true){
                  that.msg_dialog('上传成功');
                  that.LeadingInDialog = false;
                  that.$emit('LoadData');
                  //  window.location.reload();

                }else{
                  that.msg_dialog('上传失败');
                }
              })
              .catch((err) => {
                console.log(err);
              });
          } else {
            this.msg_dialog('附件格式错误，请删除后重新上传！');
          }
        } else {
          this.msg_dialog('请上传附件！');
        }
      },
      SaveExcel(val) {
        var xlsxParam = { raw: true };
        var wb = XLSX.utils.table_to_book(
          document.querySelector("#" + val),
          xlsxParam
        );
        var wbout = XLSX.write(wb, {
          bookType: "xlsx",
          bookSST: true,
          type: "array",
        });
        try {
          FileSaver.saveAs(
            new Blob([wbout], {
              type: "application/octet-stream",
            }),
            "Test.xlsx"
          );
        } catch (e) {
          if (typeof console !== "undefined") console.log(e, wbout);
        }
        return wbout;
      },
      msg_dialog(msg){
        this.$alert(msg,'提示', {
          dangerouslyUseHTMLString: true
        });
      }
    },
  };

  function UUID() {
    return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
  }
</script>

<style>
  .testPitWorkTable {
    height: 100%;
    width: 100%;
  }

  h1 {
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin: 0;
  }

  .ToolBal {
    background-color: rgba(0, 174, 255, 0.63);
    height: 50px;
    width: 116%;
  }

  .ToolBal button {
    margin-top: 5px;
    margin-left: 10px;
  }
  .download{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    content: url("../../assets/img/download.png");
  }
  .upload{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    content: url("../../assets/img/upload.png");
  }
</style>
